In [1]:
import pandas as pd
from tqdm import tqdm
import os

In [2]:
#!pip install xlrd==1.2.0

In [3]:
foreign_path = 'D:\\2021 thai data\\foreign_bank\\'
files = os.listdir(foreign_path)

In [4]:
###################### Foreign Bank Extractor #############################################

In [5]:
final_values = []
for file in tqdm(files):
    df = pd.read_excel(foreign_path + file)
    
    #change cols name
    df.columns = ['A','B','C','D','E','F','G','H','I']
    
    #extract company name
    company_name = df['B'].values[0]
    
    #extract month & year
    month = df['B'].values[3].split(' ')[-2]
    year = df['B'].values[3].split(' ')[-1]
    
    ################################ extract Assets ###################################
    
    # extract assets using index
    asset_start = df[df['B']=='Assets'].index[0]
    asset_stop = df[df['B']=='      Total assets'].index[0]
    
    #slice dataframe
    df_asset = df.iloc[asset_start+1:asset_stop]
    
    #drop unnecessary cols
    df_asset = df_asset[['B','E']]
    
    # drop na
    df_asset = df_asset.dropna(subset=['B'])
    
    main_category = 'Assets'
    company_type = 'Foreign Bank'
    company_name
    month
    year
    
    assets_values = []
    for index, row in df_asset.iterrows():
        sub_category = row[0]
        amount = row[1]
        value = [main_category, sub_category, amount, company_name, company_type, month, year]
        assets_values.append(value)
        
    ############################## extract Liabilities ######################################
    
    # extract liabilities using index
    liability_start = df[df['F']=='Liabilities'].index[0]
    liability_end = df[df['F']=='   Total liabilities'].index[0]
    
    # slice dataframe
    df_liability = df.iloc[liability_start+1:liability_end]
    
    # drop unnecessary cols
    df_liability = df_liability[['F','I']]
    
    # drop null
    df_liability = df_liability.dropna(subset=['F'])
    
    main_category = 'Liabilities'
    company_type
    company_name
    month
    year
    
    liabilities_values = []
    for index, row in df_liability.iterrows():
        sub_category = row[0]
        amount = row[1]
        value = [main_category, sub_category, amount, company_name, company_type, month, year]
        liabilities_values.append(value)
    
    ###################################### extract shareholder's equity ##################################
    
    # extract equities using index
    equity_start = df[df['F']=="Head office and other branches of the same juristic person's equity"].index[0]
    equity_end = df[df['F']=="   Total head office and other branches of the same juristic person's equity"].index[0]
    
    # slice dataframe
    df_equity = df.iloc[equity_start+1: equity_end]
    
    # drop unnecessary cols
    df_equity = df_equity[['F','I']]
    
    # drop null
    df_equity = df_equity.dropna(subset=['F'])
    
    main_category = "Equity"
    company_type
    company_name
    month
    year
    
    equity_values = []
    for index, row in df_equity.iterrows():
        sub_category = row[0]
        amount = row[1]
        value = [main_category, sub_category, amount, company_name, company_type, month, year]
        equity_values.append(value)
    
    ####################################### output ###############################
    
    value = assets_values + liabilities_values + equity_values
    
    final_values = final_values + value

100%|██████████████████████████████████████████████████████████████████████████████████| 77/77 [00:45<00:00,  1.68it/s]

In [6]:
out_df = pd.DataFrame(final_values)

out_df.columns = ['Category','Sub Category','Amount','Company Name', 'Company Type','Month','Year']

#convert from thousands
out_df['Amount'] = out_df['Amount']*1000

out_df

,Category,Sub Category,Amount,Company Name,Company Type,Month,Year
0,Assets,Cash,1921000,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",Foreign Bank,January,2021
1,Assets,Interbank and money market items - net,16263956000,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",Foreign Bank,January,2021
2,Assets,Financial assets measured at fair value throug...,9421243000,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",Foreign Bank,January,2021
3,Assets,Derivatives assets,37530641000,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",Foreign Bank,January,2021
4,Assets,Investments - net,23737698000,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",Foreign Bank,January,2021
...,...,...,...,...,...,...,...
1612,Liabilities,Other liabilities,5880914000,BNP PARIBAS,Foreign Bank,July,2021
1613,Equity,Funds brought in to maintain assets under the Act,9358828000,BNP PARIBAS,Foreign Bank,July,2021
1614,Equity,Accounts with head office and other branches o...,7505906000,BNP PARIBAS,Foreign Bank,July,2021
1615,Equity,Other components of equity of head office and ...,498000,BNP PARIBAS,Foreign Bank,July,2021
1616,Equity,Retained earnings,779250000,BNP PARIBAS,Foreign Bank,July,2021

In [7]:
month_update = input("Enter the month update (april, may, etc.): ")

out_df.to_excel('output/foreign_bank_'+month_update+'_update_2021.xlsx', index=False)

Enter the month update (april, may, etc.): july